h1,
footer {
  position: sticky;
  z-index: 1;
  text-align: center;
  background-color: rgb(18, 143, 57);
  margin: 0px;
}

h1 {
  top: 0;
  padding: 15px 0px;
}

footer {
  bottom: 0;
  padding: 3px 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
